.animatedbg {
  width: 100vw;
  height: 100vw;
  position: fixed;
  background: #fff;
  /* animation: background;
  overflow: hidden;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out; */
}

.main-frame {
  width: 100vw;
  height: 100vh;
  position: fixed;
  animation: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg); 
  right: 0;
}

.wave {
  position: absolute;
  opacity: .4;
  width: 1600px;
  height: 1300px;
  margin-right: -150px;
  margin-top: -250px;
  border-radius: 43%;
}

.wave.-one {
  animation: rotate 7000ms infinite linear;
  opacity: .3;
  background: #f58002;
}

.wave.-two {
  animation: rotate 3000ms infinite linear;
  opacity: .3;
  background: #5ad0ba;
}

.wave.-three {
  animation: rotate 7500ms infinite linear;
  opacity: .3;
  background-color: #84BD00;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

